.location{

}

.location>h5{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}

.location>p{
    margin: 0px;
    font-size: 13px;
    font-weight: 400;
}

.vertical-line{
    height: 55px;
    border-left: 2px solid #f2f2f2;
}

.search-div{
    padding: 0px 12px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 12px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
}

.search-div>input{
    border: none;
    background-color: transparent;
    width: 40vw;
    height: 45px;
}

::placeholder{
    font-size: 14px;
    color: rgb(153, 153, 153);
}

.my-cart{
    background-color: #0d831e !important;
    font-size: 14px !important;
}

.my-categories{
    width: 85%;
}

.my-container{
    margin: auto;
    width: 85%;
    overflow-x: scroll;
}

.my-list{
    white-space: nowrap;
}

.my-list>img{
    padding-inline: 10px;
}

::-webkit-scrollbar{
    display: none;
}

.my-card{
    width: 179px;
    margin-inline: 10px;
}

.my-card-time{
    width: fit-content;
    border-radius: 4px;
    background-color: rgb(248, 248, 248);
    padding: 0px 4px;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
}

.my-card-title{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
}

.my-card-weight{
    color: #666666;
    font-size: 13px;
}

.card-price{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
    line-height: 11px;
}

.mrp{
    color: #666666;
    font-size: 12px;
}

.category-section{
    width: 85%;
    margin: auto;
}

.category-section-row{
    width: 100%;
    overflow-x: scroll;
}

.li00>a {
    text-decoration: none;
    color: #666666;
  }
  
  .li00>a:hover {
    color: rgb(49, 134, 22);
  }

.f-links-menu-col>h4>span {
    color: rgb(49, 134, 22);
    font-size: 17px;
    padding: 16px;
  }
  
  .f-links-menu>div>h4 {
    color: black;
    font-size: 19px;
    font-weight: 600;
  }
  
  .dwnld-social-menu>p {
    color: #666666;
    font-size: 14px;
    width: 30%;
  }
  
  .dwnld-text {
    font-size: 18px;
    color: #666666;
    font-weight: 500;
  }
  
  .app-store-logo {
    margin-inline: 10px;
    cursor: pointer;
  }
  
  .social-btn {
    height: 40px;
    width: 40px;
    font-size: 20px;
    background: black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
    cursor: pointer;
  }

.text{
    padding: 16px;
    font-size: 18px;
    background-color: darkseagreen;
    text-align: center;
    font-weight: bold;
}